.search{
    display: flex;
    justify-content: flex-end;
    padding: 20px 0;

    &__field {
        outline: none;
        background: none;
        border-bottom: solid #000 2px;
        padding: 10px;
    }

    &__btn {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 700;
        background: none;
        padding: 0 15px;
    }
}